body {
  font-family: Helvetica, sans-serif;
  /* background-color: #ADBABD; */
  background-color: #686e70;
}

.App-header {
  /* background: linear-gradient(120deg,deepskyblue,blue); */
  /* background: linear-gradient(120deg,black,#b3d2f5); */
  /* background-color: #475671; */
  /* background-color: #1f2531; */
  background-color: #ADBABD;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* font-family: Helvetica, sans-serif; */
  /* margin-top: 5vh; */
  /* margin-top: 1em; */
  /* color: white; */
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2.5em;
  /* height: 5vh; */
  /* background-color: grey; */
  /* background-color: #252f32; */
  background-color: #282c2d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* After I commented out the width; now the button
appears bigger when selected (might be a good idea for later)
 */
 .btn {
  /* width: 20vw; */
  background-color: transparent;
  border: 1px solid white;
  color: white;
  /* border: 1px solid blue; */
  /* border: 1px solid #91B7C7; */
  border-radius: 0.5em;
  margin: 0.4em;
  padding: 0.5em;
  font-size: 0.75em;
  transition: background-color 0.2s ease;
  box-shadow: black 2px 1px 1px 0.75;
}

.btn:hover {
  /* background-color: aliceblue; */
  background-color: white;
  color: #252f32;
  cursor: pointer;
}

.btn-active {
  /* width: 20vw; */
  /* background-color: aliceblue;
  border: 1px solid blue; */
  background-color: white;
  border: 1px solid #252f32;
  border-radius: 0.5em;
  margin: 0.4em;
  padding: 0.5em;
  font-size: 0.75em;
  box-shadow: black 2px 1px 1px 0.75;
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.home, .contact {
  padding-top: 2em;
  /* background-color: white; */
  /* background-color: #ADBABD; */
  background-color: #686e70;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 0; */
}

.skill {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 3.5em;
  z-index: 1;
  /* padding: 1em; */
  /* width: 1em;
  height: 1em; */
}

.skill-img {
  max-width: 3em;
  max-height: 3em;
  transition: all 0.5s ease;
  background-color: transparent;
  mix-blend-mode:multiply;
  /* box-shadow: 5px 5px 2px rgba(0,0,0,0.2); */
  filter: drop-shadow(6px 6px 2px rgba(0,0,0,0.2));
  /* box-shadow: inset; */
}

.skill-img:hover {
  transform: scale(1.5);
  transition: all 0.5s;
  cursor: pointer;
}

.skill-label {
  /* position: relative; */
  /* bottom: 0; */
  /* margin: 0; */
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: 0;
  /* border: 1px solid black; */
}

.skill-container {
  max-width: 75vw;
  display: flex;
  /* grid-template-columns: repeat(5, minmax(5em, auto)); */
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 10em;
  margin-right: auto; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

/* Fix the grid when the screen is smaller */
/* Try and make it more dynamic???? Better feel when it expands */
.projects-grid {
  /* border: 3px solid black; */
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(3, min(12em));
  /* grid-auto-rows: minmax(8em, 1fr); */
  grid-auto-rows: minmax(12em, auto);
  /* grid-auto-flow: row dense; */
  gap: 1em;
  margin-right: 1em;
  margin-left: 1em;
  transition: 500ms;
}

@media (max-width: 1100px) {
  .projects-grid {
    grid-template-columns: repeat(2, min(12em));
  }
}

@media (max-width: 550px) {
  .projects-grid {
    grid-template-columns: repeat(1, min(12em));
    /* border: 3px solid red; */
  }
}

.projects-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.3s ease;
  overflow-wrap: anywhere;
  font-weight: bold;
  min-width: 10vw;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: 300ms;
  /* animation: animation-test-reversed linear 0.3s; */
}

.projects-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  /* background-color: rgba(173, 216, 230, 0.25); */
  background-color: lightblue;
}

.item-label {
  text-align: center;
}

/* Transition Notes:
  - Text Changes from Middle to Top Left (gains the outline)
  - Image shrinks and goes to the middle
  - Rest just fades in?

  -IDEA: instead of having two different classes; make it one and have the elements transition
    - or like add/remove class (name it "current-selection" or something)
  */

.projects-item-expanded {
  display: flex;
  /* grid-column: span 2; */
  grid-row: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.3s ease;
  /* transition: 300ms; */
  overflow-wrap: anywhere;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.5em;
  /* transform: scale(1.2); */
  background-color: lightblue;
  animation: animation-test 0.3s;
}

@keyframes animation-test {
  0% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

/* @keyframes animation-test-reversed {
  0% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
} */

.item-label-expanded {
  text-align: center;
  margin: 0 2em 0 0;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0.5em;
}

.item-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Might need to mess with button re-sizing */
.item-exit-btn {
  background: none;
  border: 1px solid black;
  border-radius: 1em;
  font-weight: bold;
  padding: 10px;
  /* margin: 0.5em; */
  position: absolute;
  right: 0;
  cursor: pointer;
}

.item-content{
  padding-top: 1em;
  text-align: center;
  white-space: pre-line;
}

.item-img {
  max-width: 10em;
  /* aspect-ratio: 1; */
  object-fit: contain;
  /* object-fit:; */
  /* width: auto;
  height: auto; */
  /* display: flex; */
  /* height: 100%; */
}

.item-description {
  font-weight: normal;
  /* font-size: smaller; */
  
}

.item-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.certifications {
  /* background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5em;
}

/* Color Profiles */
/* 
-Body
-Text
-NavBar
-NavBar Highlights

-Ash Gray (#ADBABD)
-White???
-Powder Blue (#91B7C7)
-Carolina Blue (#6EB4D1)

*/