.App-header {
  /* background: linear-gradient(120deg,deepskyblue,blue); */
  /* background: linear-gradient(120deg,black,#b3d2f5); */
  /* background-color: #475671; */
  background-color: #1f2531;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* margin-top: 5vh; */
  /* margin-top: 1em; */
  /* color: white; */
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  /* height: 5vh; */
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.home, .contact {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 10em;
  margin-right: auto; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

/* After I commented out the width; now the button
appears bigger when selected (might be a good idea for later)
 */
.btn {
  /* width: 20vw; */
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 0.5em;
  margin: 0.4em;
  padding: 0.5em;
  font-size: 0.75em;
  transition: background-color 0.2s ease;
  box-shadow: black 2px 1px 1px 0.75;
}

.btn:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.btn-active {
  width: 20vw;
  /* background-color: transparent; */
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 0.5em;
  margin: 0.4em;
  padding: 0.5em;
  /* font-weight: bold; */
  font-size: 0.75em;
  /* transition: background-color 0.2s ease; */
  box-shadow: black 2px 1px 1px 0.75;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  /* background-color: grey; */
}

/* Fix the grid when the screen is smaller */
/* Try and make it more dynamic???? Better feel when it expands */
.projects-grid {
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(3, minmax(8em, 1fr));
  /* grid-auto-rows: minmax(8em, 1fr); */
  grid-auto-rows: minmax(8em, auto);
  grid-auto-flow: row dense;
  gap: 1em;
}

.projects-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.3s ease;
  /* content: inherit; */
  /* word-wrap: break-word; */
  overflow-wrap: anywhere;
  font-weight: bold;
  min-width: 10vw;
}

.projects-item:hover {
  transform: scale(1.1);
  /* transform: translateY(-0.5em); */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.projects-item-expanded {
  display: flex;
  grid-column: span 2;
  grid-row: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.3s ease;
  overflow-wrap: anywhere;
  font-weight: bold;
  padding: 0.5em;
  /* min-width: ; */

}

.item-container {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Might need to mess with button re-sizing */
.item-exit-btn {
  background: none;
  border: 1px solid black;
  border-radius: 1em;
  font-weight: bold;
  padding: 10px;
  /* margin: 0.5em; */
  position: absolute;
  right: 0;
  cursor: pointer;
}

.item-content {
  display: flex;
  align-items: center;
  gap: 1em;
}

.item-img {
  max-width: 10em;
  /* display: flex; */
  /* height: 100%; */
}

.item-rest {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
  white-space: pre-line;
}

.item-description {
  font-weight: normal;
  /* font-size: smaller; */
  
}

.item-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.certifications {
  /* background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5em;
}