.App-header {
  /* background: linear-gradient(120deg,deepskyblue,blue); */
  /* background: linear-gradient(120deg,black,#b3d2f5); */
  /* background-color: #475671; */
  background-color: #1f2531;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.home {
  background-color: white;
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-btn {
  width: 50%;
  /* background-color: grey; */
}

.about {
  background-color: grey;
  height: 90vh;
  width: 50vw;
}